.container-header {
    display: flex;
    justify-content: space-around;
}
.nav-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.caixa {
    align-items: center;
    display: flex;
    align-items: center;
}
.form-checkbox {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.form-radio {
    display: flex;
    justify-content: left;
}


footer {
    display: flex;
    justify-content: center;
}
/*parte mobile*/
@media(max-width: 768px) {

.form {
    display: flex;

}    
.container-header {
    max-width: 768px;
    width: 100%;
}
.estoque {
    align-items: flex-start;
    display: flex;
    margin-left: 20px;
    width: 100%;
}
.container-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    align-items: center;
}
body {
    margin-top: 230px;
}
footer {
    align-items: center;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.table-levedura {
    width: 100%;
    overflow: auto;
    display: block;
}

	

}
